@inherits IndexBase
@page "/"
@using aeskeys.pages

<h1>Random Number Generator</h1>

<hr/>
    <EditForm Model="@req" OnValidSubmit="@HandleHttpRequest">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>
                AES Api Uri:
                <InputText @bind-Value="req.Uri" class="form-control col-xs-4" />
            </label>
            <label>
                APIM Subscription Key:
                <InputText @bind-Value="req.SubscriptionKey" class="form-control" />
            </label>
            <label>
                Total Keys Requested:
                <InputNumber @bind-Value="req.TotalKeys" class="form-control input-sm"/>
            </label>
        </div>
        <button class="button" @onclick="() => keys = null">Clear Screen</button> |
        <button type="submit">Submit</button>
    </EditForm>
<hr/>

@if (keys != null)
{
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Key</th>
                    <th>Write Region</th>
                    <th>Write Host</th>
                    <th>Time Stamp</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var key in keys)
                {
                    <tr>
                        <td>@key.key</td>
                        <td>@key.writeRegion</td>
                        <td>@key.writeHost</td>
                        <td>@key.timeStamp</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}